@charset "UTF-8";
* {margin: 0; padding: 0;}
body{
    color: #222;
    font-size: 25px;
    line-height: 1.5;
    background-color: #d4c9c9;
}
ol,ul,li {
    list-style: none;
}
a{
    color: #272727;
    text-decoration: none;
    transition: 0.3s cubic-bezier(0.7, 0.09, 0.22, 1.01);
}
a:hover {
    color: #fff;
}
img {width: 100%;}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.container {
    position: relative; /* 타이틀 기준 */
    padding-right: 2rem;
    padding-left: 2rem;
}


/* header */
header {
    height: 100vh;
    padding: 160px 2.5rem 0;
}
header .container {
    height: 100%;
}
.menu a {
    font-size: 2vw;
    font-weight: bold;
}
.menu .menu_left {
    float: left;
    width: 50%;
}
.menu .menu_right {
    float: right;
    width: 50%;
    text-align: right;
}


.title {
    position: absolute;
    bottom: 0; left: 0;
    font-size: 12vw;
    line-height: 0.9;
    text-transform: uppercase;
    perspective: 600px; /* 3D 원근감 주기 */
    padding: 2.5em 0 0.5em; /* rem:body 기준 */
}
.title .c_header_title_line {
    display: block;
    transform-style: preserve-3d;
    transform: translateY(100%)rotateX(-80deg);
    transform-origin: center top;
    transition: 0.8s 0.4s cubic-bezier(.215, .61, .355, 1);
}

.is-inview .c_header_title_line {
    transform: none;
    opacity: 1;
}

.title .c_header_title_line span {
    display: inline-block;
}
.title_last span {
    color: #fff;
    margin-left: -4%;
}
.title_last span:first-child {margin-left: 0;}


/* 라인 */
.line {
    position: absolute;
    bottom: 0; left: 0; right: 0; /* w100% 의미 */
    display: block;
    height: 1px;
    border: 0; /* 우리가 주는 값으로 설정하기위해 border 0 */
    border-top: 1px solid #272727;
    transition: 0.6s cubic-bezier(.215, .61, .355, 1);
    transform: scale(0);
}
.line.is-inview {
    transform: scale(1);
}


/* two */
.two {margin-top: 35px;}
.two .two_left {
    float: left; width: 40%;
    padding-left: 20px;
    font-size: 1.5vw;
    font-weight: 600;
    box-sizing: border-box;
}
.two .two_right {
    float: right; width: 60%;
    padding-left: 3.75rem;
    box-sizing: border-box;
}
.two .two_right li {
    position: relative;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    transform: translateY(60px);
    opacity: 0;
    transition: 0.6s cubic-bezier(.215, .61, .355, 1);
}
.two .two_right li.is-inview {
    transform: none;
    opacity: 1;
}
.two .two_right li.is-inview:nth-child(1){
    transition-delay: 0.5s;
}
.two .two_right li.is-inview:nth-child(2){
    transition-delay: 0.6s;
}
.two .two_right li.is-inview:nth-child(3){
    transition-delay: 0.7s;
}
.two .two_right li.is-inview:nth-child(4){
    transition-delay: 0.8s;
}
.two .two_right li a {}
.two .two_right li a span {
    position: absolute;
    top: 50%; right: 0;
    transform: translateY(-50%) translateX(30px) rotate(90deg);
    transition: 0.6s cubic-bezier(.215, .61, .355, 1);
    opacity: 0;
}
.two .two_right li.is-inview a span {
    transform: translateY(-50%) translateX(0px) rotate(0deg);
    opacity: 1;
    transition-delay: 0.6s;
}
.two .two_right li::after {
    content: '';
    position: absolute;
    bottom: 0; left: 0; right: 0; /* w100%라는 의미 */
    height: 1px;
    background-color: #272727;
    transform: scaleX(0);
    transform-origin: left center; /* 시작지점 */
    transition: 0.6s cubic-bezier(.215, .61, .355, 1);
    z-index: 10;
}
.two .two_right li.is-inview::after {
    transform: scaleX(1);
    transition-delay: 0.6s;
}

/* three */
.three {margin-bottom: 30vh;}
.three .left1 {
    position: relative;
    width: 40%;
    float: left;
    top: 15vh; /* 값 안먹을때, position: relative; 주기 */
}
.three .right1 {
    position: relative;
    width: 60%;
    float: right;
    top: 15vh;
    padding-left: 3.75rem;
    box-sizing: border-box;
}

/* 이미지 */
.o-image_wrapper {background-color: #d4c9c9;}
.o-image {
    mix-blend-mode: multiply; /* 밑 이미지컬러랑 섞이게 */
    opacity: 0.8;
}
.o-image img {}