@charset "UTF-8";

*{margin: 0; left: 0;}
body {color: #333;}

/* .wrap */
.wrap {
    width: 900px;
    margin: 100px auto;
}
.wrap div {
    margin-top: 50px;
    border: 1px solid #ccc;
}
.wrap div h2 {
    text-align: center;
    margin: 10px 0;
}
.table1 table {
    border: 1px solid #ccc;
    width: 100%;
    text-align: center;
}
.table1 table tr {
    border: 1px solid #ccc;
}
.table1 table tr th {
    border: 1px solid #ccc;
}
.table1 table tr td {
    border: 1px solid #ccc;
}



.table1-2 table {
    border: 1px solid #ccc;
    width: 100%;
    text-align: center;
}
.table1-2 table tr th {
    border: 1px solid #ccc;
}
.table1-2 table tr td {
    border: 1px solid #ccc;
}


.table2 {
    border: 1px solid #ff8181;
}
.table2 table {width: 100%;}
.table2 table,
.table2 table tr th,
.table2 table tr td {
    border: 1px solid #ff8181;
    border-collapse: collapse; /* table 열 사이 공간없애기 */
    padding: 15px;
    text-align: center;
    background-color: #ffd8d8;
}
.table2 table tr:nth-child(1) {border-bottom: 3px double #000;}
.table2 table tr:nth-child(2) {height: 100px;}

.table2 table tr th:nth-child(1) {width: 20%;}
.table2 table tr th:nth-child(2) {width: 60%;}
.table2 table tr th:nth-child(3) {width: 20%;}


.table3 table {
    border: 1px solid #ccc;
    width: 100%;
    text-align: center;
}
.table3 table tr th {
    border: 1px solid #ccc;
}
.table3 table tr td {
    border: 1px solid #ccc;
}
.table3 table,
.table3 table tr th,
.table3 table tr td {
    border: 1px solid #ff8181;
    border-collapse: collapse;
    padding: 15px;
    text-align: center;
    background-color: #ffd8d8;
}


.table4 table {width: 100%;}
.table4 table,
.table4 table tr th,
.table4 table tr td {
    border: 1px solid #ff8181;
    border-collapse: collapse;
    padding: 15px;
    text-align: center;
    background-color: #ffe18d;
}


.table5 table {width: 100%;}
.table5 table,
.table5 table tr th,
.table5 table tr td {
    border: 1px solid #ff8181;
    border-collapse: collapse;
    padding: 15px;
    text-align: center;
    background-color: #cfdd82;
}


.table6 table {width: 100%;}
.table6 table,
.table6 table tr th,
.table6 table tr td {
    border: 1px solid #ff8181;
    border-collapse: collapse; /* table 열 사이 공간없애기 */
    padding: 15px;
    text-align: center;
    background-color: #cfdd82;
}


.table7 table {width: 100%;}
.table7 table,
.table7 table tr th,
.table7 table tr td {
    border: 1px solid #ff8181;
    border-collapse: collapse; /* table 열 사이 공간없애기 */
    padding: 15px;
    text-align: center;
}
/* .table7 table tr:nth-child(even) {
    ✔ even, 2n -> 짝수를 찾아라
    background-color: rgba(255, 240, 101, 0.473);
} */
.table7 table tr:nth-child(2n) {
    background-color: rgba(255, 240, 101, 0.473);
}
/* .table7 table tr:nth-child(odd) {
    ✔ odd, 2n+1 -> 홀수를 찾아라
    background-color: rgba(195, 118, 211, 0.473);
} */
.table7 table tr:nth-child(2n+1) {
    background-color: rgba(195, 118, 211, 0.473);
}
.table7 table tr th:nth-child(even),
.table7 table tr td:nth-child(even) {
    background-color: #ff818171;
}


.table8 table {width: 100%;}
.table8 table,
.table8 table tr th,
.table8 table tr td {
    border-collapse: collapse; /* table 열 사이 공간없애기 */
    padding: 15px;
    text-align: center;
}
.table8 table tr {
    border-bottom: 1px solid #ff7e7e;
    transition: 0.3s;
}
.table8 table tr:hover {
    background-color: #ffb0b0;
}


.table9 table {width: 100%;}
.table9 table,
.table9 table tr th,
.table9 table tr td {
    border: 1px solid #ff8181;
    border-collapse: collapse; /* table 열 사이 공간없애기 */
    padding: 15px;
    text-align: center;
}
.table9 colgroup col:nth-child(1){ /* col그룹끼리 속성지정 */
    background-color: #ff818183;
}
.table9 colgroup col:nth-child(2){
    background-color: #ffd56183;
}
.table9 colgroup col:nth-child(3){
    background-color: #93dbbd83;
}