@charset "UTF-8";
*{margin: 0; padding: 0; box-sizing: border-box;}

.text {
    position: fixed;
    top: 10px; left: 30px;
    z-index: 500;
    color: #fff;
    font-size: 50px;
}
.slide {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    color: #fff;
    padding: 50px;
    font-size: 25px;
}
.slide-content {
    position: relative;
    width: 60%;
    margin: 0 auto;
    font-size: 25px;
}

#slide04 {
    background: url(img/stars.gif);
}


.fixed-bg {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
}


.slide-content h2 {}
.slide-content p {}